@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poor+Story');

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  transition-property: all;
  transition-duration: 0.4s;

}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

#whole_wrapper {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #373a3c;
  height: 50px;
  width: 100%;
  color: white;
  padding: 0 100px;
  /* overflow-y: hidden; */
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 50px;
  color: white;
}

#title {
  font-size: 18px;
  user-select: none;
}

ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 275px 0 10px;
}
.menu, .link {
  margin-right: 10px;
  color: gray;
}
.link:hover {
  color: white;
}
.menu:not(:last-child)::after {
  content: '|';
}

:not(.menu) > .link::before {
  margin: 0 10px;
  font-family: fontello;
  content: '\e801';
}

.icon::after {
  font-family: fontello;
  content: none;
  color: gray;
}

@media screen and (max-width: 850px) {
  header {
    justify-content: space-between;
    background-color: #373a3c;
    z-index: 1;
  }
  #title {

  }
  nav {
    position: absolute;
    background-color: #373a3c;
    justify-content: flex-start;
    padding: 0 100px;
    width: 100%;
    z-index: -1;
  }
  .link {
    color: transparent;
  }
  ul {
    margin: 0;
  }
  .icon::after {
    content: '\e800';
  }
}
