@charset "UTF-8";
@import url('./header.css');
@import url('./content.css');

* {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
  transition-property: all;
  transition-duration: 0.4s;
}

a {
  text-decoration: none;
  color: black;
}

html, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0%;
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 14px;
  user-select: none;
  margin: 5px;
}
.icon::before {
  margin-right: 10px;
  font-family: fontello;
}
.icon::after {
  margin-left: 10px;
  font-family: fontello;
}

.git::before {
  font-size: 22px;
  content: '\f09b';
}
.git:hover {
  color: black !important;
}
