@charset "UTF-8";

* {
  box-sizing: border-box;
  transition-duration: 0.4s;
  font-family: 'Nanum Gothic', sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

/* header */

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373a3c;
  font-size: 18px;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  width: 600px;
}

.login_icon {
  width: 18px;
  user-select: none;
}

.title {
  opacity: 1 !important;
}
.tile {
  display: flex;
  align-items: center;
  opacity: 0.4;
  margin: 15px;
  cursor: default;
  user-select: none;
}
.tile:hover {
  opacity: 1 !important;
}

.tile_link {
  color: white;
}

/* article */

article:not(:first-child) {
  margin-top: 15px;
}

main {
  display: grid;
  width: 850px;
  margin-top: 25px;
  padding: 15px;
  border: 1px solid #bbb;
  background-color: #eee;
}
#short_wrapper {
  width: 400px;
}

.article_tile {
  border: 1px solid #dcdcdc;
  display: grid;
  grid-template-areas:
    ". right"
    ". right";
  grid-template-columns: 1fr;
  background-color: #ddd;
  font-size: 14px;
  padding: 10px;
}
.content {
  margin-top: 5px;
}
.content_left {
  display: flex;
  flex-direction: column;
}
.content_right {
  grid-area: right;
  display: flex;
  color: #777;
  text-align: right;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.notice {
  color: #502c61;
  background-color: #ebddf1 !important;
  font-size: 16px;
}

.head {
  color: #215f0c;
  background-color: #d9f0d1;
  font-size: 16px;
}

.rtl {
  text-align: right;
}

/* footer */

.git {
  user-select: none;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: black;
}
.git::before {
  transition-duration: 0.4s;
  position: absolute;
  display: block;
  content: '';
  width: 150px;
  height: 30px;
  background-color: #fff;
  opacity: .5;
}
.git:hover::before {
  opacity: 0;
}
img {
  width: 22px;
  margin-right: 10px;
  user-select: none;
}

/* login */

.login {
  display: grid;
  grid-row-gap: 10px;
}

.login b {
  padding-left: 5px;
}

input {
  padding: 5px;
}

/* etc */

button {
  border: 1px solid #1a5dca;
  color: #fff;
  background-color: #1a6dca;
  padding: 10px;
  font-size: 14px;
}

.horizontal {
  display: flex;
  flex-direction: row;
}
.form input {
  flex-grow: 1;
}

select {
  padding: 5px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > *:not(:last-child) {
  margin-bottom: 10px;
}

.add_file {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.file_path {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #bbb;
}

.select_file {
  display: flex;
  flex-direction: row;
  margin: 1px 0;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  height: 36px;
}
