RewriteEngine On

RewriteCond %{HTTP_REFERER} !^(https?:\/\/)?isdj\.ga/ [NC]
RewriteRule add_admin.php - [F]

RewriteRule (schedule|login|home|admin/[a-z]*)$ /index\.php\?page=$1 [L,PT]
RewriteRule ^([^/(css|image)]*)/([^/]*)?(.*) /index\.php?page=$1&category=$2?$3 [PT]
