@charset "UTF-8";
@import "/css/home.css";

.form input {
  flex-grow: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > *:not(:last-child) {
  margin-bottom: 10px;
}

.add_file {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.file_name {
  flex-grow: 1;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #bbb;
}

.select_file {
  display: flex;
  flex-direction: row;
  margin: 1px 0;
}

input[type="file"] {
  position: absolute;
  opacity: 0;
  height: 36px;
}

.select_file > img {
  transition-delay: 0.4s;
  padding: 5px;
  width: 32px;
  height: 38px;
  background-color: white;
  border: 1px solid #bbb;
  margin: 0;
}
